<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Test 3</title>
  </head>
  <body>
    <ul>
        <li><a href = '/BSD'> BSD students </a></li>
        <li><a href = '/allStudents'> All students </a></li>
        <li><a href = '/highGPA'> Highest GPA </a> </li>
        <li><a href = '/'> Home </a> </li>
    </ul>
    <hr>
    <div>
      
        {{{body}}}
      
    </div>
<hr>
<h2>Student Honour Pledge</h2>
    <p>I acknowledge the College's academic integrity policy.<br>
    On my honour I have neither given or recieved unauthorised aid on this test.</p>
    Name: <mark>Tatiana Kashcheeva</mark><br>
    Student Number: <mark>148366206</mark><br>
</body>
</html>